<div style="float: left;" class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <a>
              <h3>Maakav</h3>
              <h3>Online</h3>
          </a>
      </div>
<!-- add sort buttons to table
build service to submit data to the db
-->
      <ul class="list-unstyled components">
          <li>
              <a routerLink="/tracker" routerLinkActive="active">Task Tracker</a>
              <a routerLink="/klitot" routerLinkActive="active">Klitot Instructional</a>
          </li>
      </ul>
  </nav>
</div>

<router-outlet></router-outlet>