.top-navigation {
    height: 150px;
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(136, 136, 136);
}

.custom-btn {
    color: white;
    text-align: center;
    width: 80px;
    height: 40px;
    padding-top: 10px;
}

